* {	
	font-family: Consolas, Monospace;
}

body {
	margin: 16px;
	border: 2px solid #888888;
	padding: 16px;
	box-shadow: 4px 4px #CCCCCC;
}

@keyframes blinker {  
	50% {
		opacity: 0;
	}
}

.blinking-text {
    animation: blinker 1s linear infinite;
}

hr {
	width: 50%;
	text-align: left;
	margin-left: 0;
}

input {
	border: none;
	border-bottom: 1px solid;
	margin-bottom: 8px;
}